.container {
    background-color: rgb(147, 224, 199);
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    border-width: 5px;
    font-family: "fantasy","copperplate";
    color:rgb(11, 71, 71);
    font-size: larger;
}

.image {
    border-width:5px ;
    border-style: solid;
    border-color: black ;
    height:250px;
}

.buttons {
    justify-content: space-between;
    margin:10px;
}

.deletebtn {
    background-color: rgb(226, 133, 12);
    height: 50px;
    width: 100px;
    font-size: large;
}

.editbtn {
    background-color: cornflowerblue;
    height: 50px;
    width: 100px;
    font-size: large;
}